<nav class="nav bg-white">
  
  {% if app.user %}
    <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="nav-link" href="{{path('admin')}}">Admin</a>
    {% endif %}
  {% else %}
    <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
    <a class="nav-link active" aria-current="page" href="{{path('app_login')}}">Connexion</a>
  {% endif %}
</nav>