{% extends 'mail/base_mail.html.twig' %}

{% block content_all %}
	<table>
		<tr align="center">
			<h2 class="title" style="padding:65px 0 10px 0;">Bonjour
				{{ mail }}
				</h2>
		</tr>
		<tr align="center">
			<td style="padding:15px 0;">Merci pour votre inscription !</td>
		</tr>
		<tr align="center">
			<td style="padding:15px 0 10px 0;">Vous pouvez dès a présent vous connecter à votre compte et passer commande.</td>
		</tr>
		<tr align="center">
			<td style="padding:0 0 65px 0;">
				<a href="{{url('app_login')}}" class="btn btn-primary">Accèder à mon compte</a>
			</td>
		</tr>
	</table>
{% endblock %}
